params{
    genome="/data/home/btx717/scratch/Cperk_microC/CperkT2T_scaffolds_final.fa"
    sr_rnaseq_reads = "/data/home/btx717/scratch/Cperk_microC/yagap_test/sr_input" //header sample_id  read1   read2
    //to keep intermediate files in hisat2, like sam and unsorted bam, change to false
    run_clean_hisat2 = true
    scoringfile="mammalian.yaml"
    //protdb="/data/home/btx717/storage/01-ademendoza/data/uniprot.dmnd"
    protdbfas="/data/home/btx717/storage/01-ademendoza/data/uniprot_sprot.fasta"

    run_lr_mapping=false
    lr_rnaseq_reads = "/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/lr_rna_seq.tsv"//header sample_id  lr_rna_fastq
    run_cdna_mapping=false
    cdna_seq = "/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/cdna_seq.tsv"//header sample_id  cdna_fastq
    //to keep intermediate files in minimap2, like sam and unsorted bam, change to false
    run_clean_minimap2 = false

    run_trinity_mapping=false
    trinity_files = "/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/trinity.tsv"//header sample_id  trinity_fasta

    number_of_chunks=20

    run_masking=false
    rm_species="cnideria"
    run_maskin_with_model=false
    model_files = "/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/rm_models.tsv"//header name  rm_model
    run_ltr_finder=false

    run_augustus=false
    augustus_specname="Bluey"

    run_protein_mapping=false
    protein_fasta = "/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/protein.fa"
    max_intron = "425000"

    run_mikado_after_augustus=false
}
