params{
    genome="/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/genome.fa"
    sr_rnaseq_reads = "/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/sample_file.tsv"//header sample_id  read1   read2
    //to keep intermediate files in hisat2, like sam and unsorted bam, change to false
    run_clean_hisat2 = true
    scoringfile="mammalian.yaml"
    protdb="/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/niprot_SwissProt_020221"

    run_lr_mapping=true
    lr_rnaseq_reads = "/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/lr_rna_seq.tsv"//header sample_id  lr_rna_fastq
    run_cdna_mapping=true
    cdna_seq = "/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/cdna_seq.tsv"//header sample_id  cdna_fastq
    //to keep intermediate files in minimap2, like sam and unsorted bam, change to false
    run_clean_minimap2 = true

    run_trinity_mapping=true
    trinity_files = "/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/trinity.tsv"//header sample_id  trinity_fasta

    number_of_chunks=20

    run_masking=true
    rm_species="cnideria"
    run_maskin_with_model=true
    model_files = "/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/rm_models.tsv"//header name  rm_model
    run_ltr_finder=true

    run_augustus=true
    augustus_specname="Bluey"

    run_protein_mapping=true
    protein_fasta = "/lustre/scratch126/humgen/teams_v2/hgi/vo3/my_test/protein.fa"
    max_intron = "425000"

    run_mikado_after_augustus=true
}